<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/assets/styles/ranking.css" />
  <script src="/scripts/ranking.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
  <header class="pageHeader">
    <img src="/assets/imgs/logo.png" width="200px" alt="">
    <div class="rightHeader">
      <div class="header-nav">
        <p>Jobs</p>
        <p>Profile & CV</p>
        <p>About us</p>
      </div>
      <p>Hello, Nguyen Dinh Dat</p>
    </div>
  </header>
  <div>
    <div class="main">
      <div class="leftBar" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
        <div class="leftBarTitle">
          <h1>Candidate ranking</h1>
          <input
            type="text"
            placeholder="Search recruitment round"
          />
        </div>
        <div class="leftBarCards">
          <div class="card">
            <h3>Software Engineer Recruitment</h3>
          </div>
          <div class="card">
            <h3>BA Recruitment</h3>
          </div>
          <div class="card">
            <h3>Seller Recruitment</h3>
          </div>
        </div>
      </div>
      <div class="rightBar" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="rightBarTitle">
          <h1>Software Engineer Candidates</h1>
          <p>Time: 27/4 - 15/5</p>
        </div>
        <div class="rightBarList">
          <div class="listItem">
            <div class="itemInfo">
              <div class="itemInfoText">
                <h1>Nguyen Dinh Dat</h1>
                <p>Round 2 evaluation</p>
                <p class="moreInfo" id="moreInfo1">View detailed information</p>
              </div>
              <div class="itemInfoButton">
                <div class="sendMailIcon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="#2f80f3"
                    class="bi bi-envelope-check"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"
                    />
                    <path
                      d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"
                    />
                  </svg>
                </div>
                <div class="rejectIcon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="#2f80f3"
                    class="bi bi-envelope-x"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"
                    />
                    <path
                      d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-4.854-1.354a.5.5 0 0 0 0 .708l.647.646-.647.646a.5.5 0 0 0 .708.708l.646-.647.646.647a.5.5 0 0 0 .708-.708l-.647-.646.647-.646a.5.5 0 0 0-.708-.708l-.646.647-.646-.647a.5.5 0 0 0-.708 0"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="itemMatchingResult">90%</div>
          </div>
          <div class="listItem">
            <div class="itemInfo">
              <div class="itemInfoText">
                <h1>Nguyen Chi Minh Hieu</h1>
                <p>Round 2 evaluation</p>
                <p class="moreInfo" id="moreInfo2">View detailed information</p>
              </div>
              <div class="itemInfoButton">
                <div class="sendMailIcon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="#2f80f3"
                    class="bi bi-envelope-check"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"
                    />
                    <path
                      d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"
                    />
                  </svg>
                </div>
                <div class="rejectIcon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="#2f80f3"
                    class="bi bi-envelope-x"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"
                    />
                    <path
                      d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-4.854-1.354a.5.5 0 0 0 0 .708l.647.646-.647.646a.5.5 0 0 0 .708.708l.646-.647.646.647a.5.5 0 0 0 .708-.708l-.647-.646.647-.646a.5.5 0 0 0-.708-.708l-.646.647-.646-.647a.5.5 0 0 0-.708 0"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="itemMatchingResult">84%</div>
          </div>
          <div class="listItem">
            <div class="itemInfo">
              <div class="itemInfoText">
                <h1>Pham Kim Tung</h1>
                <p>Round 2 evaluation</p>
                <p class="moreInfo" id="moreInfo3">View detailed information</p>
              </div>
              <div class="itemInfoButton">
                <div class="sendMailIcon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="#2f80f3"
                    class="bi bi-envelope-check"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"
                    />
                    <path
                      d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"
                    />
                  </svg>
                </div>
                <div class="rejectIcon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="#2f80f3"
                    class="bi bi-envelope-x"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"
                    />
                    <path
                      d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-4.854-1.354a.5.5 0 0 0 0 .708l.647.646-.647.646a.5.5 0 0 0 .708.708l.646-.647.646.647a.5.5 0 0 0 .708-.708l-.647-.646.647-.646a.5.5 0 0 0-.708-.708l-.646.647-.646-.647a.5.5 0 0 0-.708 0"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="itemMatchingResult">72%</div>
          </div>
          <div class="listItem">
            <div class="itemInfo">
              <div class="itemInfoText">
                <h1>Nguyen Thi Kim Anh</h1>
                <p>Round 2 evaluation</p>
                <p class="moreInfo" id="moreInfo4">View detailed information</p>
              </div>
              <div class="itemInfoButton">
                <div class="sendMailIcon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="#2f80f3"
                    class="bi bi-envelope-check"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"
                    />
                    <path
                      d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"
                    />
                  </svg>
                </div>
                <div class="rejectIcon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="#2f80f3"
                    class="bi bi-envelope-x"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"
                    />
                    <path
                      d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-4.854-1.354a.5.5 0 0 0 0 .708l.647.646-.647.646a.5.5 0 0 0 .708.708l.646-.647.646.647a.5.5 0 0 0 .708-.708l-.647-.646.647-.646a.5.5 0 0 0-.708-.708l-.646.647-.646-.647a.5.5 0 0 0-.708 0"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="itemMatchingResult">70%</div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
