<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personality Test</title>
    <link rel="stylesheet" href="/assets/styles/customIntrojs.css" />
    <link rel="stylesheet" href="/assets/styles/test.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js"></script>
    <script src="/scripts/introjs.js"></script>
    <script src="../scripts/test.js"></script>
  </head>
  <body>
    <header class="pageHeader">
      <img src="/assets/imgs/logo.png" width="200px" alt="">
      <div class="rightHeader">
        <div class="header-nav">
          <p>Jobs</p>
          <p>Profile & CV</p>
          <p>About us</p>
        </div>
        <p>Hello, Nguyen Dinh Dat</p>
      </div>
    </header>
    <div>
      <div class="main">
        <div
          class="questions" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"
        >
          <div class="questions-title">
            <h1>Personality Test</h1>
          </div>
          <!--Thay doi-->
          <div class="questions-list" id="questions-list">
            <div class="questions-list-title">
              <h3>Please provide from 1 to 5 points for each question :</h3>
            </div>
          </div>
          <button class="questions-submit">Submit</button>
        </div>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</html>
